<html>
    <head>
        {% assets "scss_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
        <title>{% block title %}{% endblock %} Gothonweb</title>
    <head>
    <body>
        <main>
        <div>
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %} 
        </div>
        {% block content %}
        {% endblock %}
        </main>
        <footer></footer>
    </body>
</html>

